---
import Section from '@/components/Section.astro';
import GitHub from '@/icons/GitHub.astro';
import { projects } from '@projects'
---

<Section>
  <h2 id="proyectos">Proyectos</h2>
  <div class="container">
    {
      projects.map(
        ({img, alt, title, descripcion, tecnologias, github, titleLink}) => {
          return (
            <article>
            
            <img src={img} alt={alt} />
        
            <div class="info">
              <header>
                <h3>{title}</h3>
                <p>{descripcion}</p>
                <div class="items">
                  {
                    tecnologias.map((tecnologia) => {
                      return <span class="item">{tecnologia}</span>;
                    })
                  }
                </div>
              </header>
        
              <div class="link">
                <a 
                  href={github} 
                  title={titleLink}
                  target="_blank"
                  rel="noopener noreferrer"
                  >
                    Ver código fuente
                  </a>
                <a 
                  href={github} 
                  title={titleLink}
                  target="_blank"
                  rel="noopener noreferrer"
                  >
                    <GitHub width={16} height={16} />
                  </a>
              </div>
            </div>
    </article>
          )
        })
      }
  </div>
</Section>

<style>
  h2 {
    padding-bottom: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  article {
    display: flex;
    gap: 2rem;
    border: 1px solid var(--primary-color-900);
    border-radius: 16px;
    padding: 20px;
    transition: 0.5s;

    &:hover {
      background: var(--primary-color-950);
    }
  }
  img {
    width: 300px;
    border-radius: 12px;
    object-fit: cover;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
  }
  .item {
    border: 1px solid var(--secundary-color-800);
    color: var(--secundary-color-600);
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
    transition: 0.5s;

    &:hover {
      color: var(--secundary-color-500);
    }
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      line-height: 24px;
    }
  }
  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    font-weight: 500;
    color: var(--secundary-color-950, #000);
    background: linear-gradient(
      267deg,
      var(--accent-color, #0ca2e3) 10%,
      var(--secundary-color-500, #09de5c) 100%
    );
    border-radius: 6px;
    width: fit-content;
    transition: 0.6s;

    &:hover {
      gap: 16px;
    }

    a {
      color: var(--secundary-color-950);
      display: inline-flex;
    }
  }

  @media (width <= 768px) {
    .container {
      display: flex;
      justify-content: center;
    }
    article {
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
</style>
