---
interface Props {
  school: string;
  area: string;
  time: string;
  stylesContainer?: string;
  stylesArrow?: string;
}

const { school, area, time, stylesContainer, stylesArrow } =
  Astro.props as Props;
---

<div class={`relative py-2.5 w-full md:w-1/2 left-0 ${stylesContainer}`}>
  <slot />
  <div class="relative py-4 px-4 rounded-[10px] text-sm md:text-base bg-main">
    <p
      class="font-semibold mb-0.5 dark:text-Yellow-50 text-sm text-balance md:text-base"
    >
      {area}
    </p>
    <p
      class="text-Neutral-600 dark:text-Neutral-400 text-balance text-[.8125rem] md:text-[.875rem]"
    >
      {school}
    </p>
    <small
      class="inline-block text-Text dark:text-Neutral-400 bg-Neutral-700/70 dark:bg-Neutral-800/60 rounded-sm px-2"
      >{time}</small
    >
    <span
      class={`h-0 w-0 absolute top-7 z-10 border border-t-[10px] border-t-transparent border-b-[10px] border-b-transparent border-r-[10px] border-r-Neutral-50 dark:border-r-Neutral-800/90 border-l-transparent -left-[10px] ${stylesArrow}`}
    ></span>
  </div>
</div>
